@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
  .MuiDataGrid-root {
    min-width: 600px;
  }

  .MuiDataGrid-columnHeader,
  .MuiDataGrid-cell {
    min-width: 250px; 
  }

  .DataGrid {
    width: 100%; 
    min-width: 600px; 
  }

  .overflow-x-auto {
    overflow-x: scroll; 
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:space-y-0 > * {
    margin-bottom: 0 !important;
  }

  .sm\:ml-2 {
    margin-left: 8px;
  }
}